h2{
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bioText{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#bioImage{
    float: left;
    padding-right: 10px;
    height:150px
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: #666666 solid 1px
}

body{
    width: 960px;
    margin: 0 auto;
    background-color: black;
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    height: 50px
}

body{
    background-color: #ffffff;
    border-color: #dddddd
}

.content{
    min-height: calc(100vh - 70px);
}

#myLogo{
    background-color: #4aaaa5;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px
}

#about{
    float: right;
    position: relative;
    bottom: 50px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    border-right: #777777 solid;
}

#portfolio{
    float: right;
    position: relative;
    bottom: 50px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    border-right: #777777 solid;
}

#contact{
    float: right;
    position: relative;
    bottom: 50px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}